# =====================
# Python
# =====================
__pycache__/
*.py[cod]
*$py.class

# Virtual Environments
.venv/
venv/
env/

# =====================
# Environment / Secrets
# =====================
.env
.env.*
*.env

# =====================
# IDEs
# =====================
# PyCharm / IntelliJ
.idea/
*.iml

# VS Code
.vscode/

# =====================
# OS
# =====================
# macOS
.DS_Store

# Windows
Thumbs.db
Desktop.ini

# =====================
# Logs
# =====================
*.log

# =====================
# Testing / Coverage
# =====================
.pytest_cache/
.coverage
htmlcov/

# =====================
# Build / Dist
# =====================
build/
dist/
*.egg-info/

# =====================
# Databases / Local Data
# =====================
*.sqlite3
*.db

# =====================
# Misc
# =====================
.cache/
